.list{
    
}

.list-item{
    float: left;
}

.list-link{
    padding: 5px 7px;
    color: blue;
    text-transform: uppercase;
    line-height: 1.5;
}

.list-link:hover{
    color: red;
    text-decoration: none;
    background-color: green;
}