.list{
    
}

.list-item{
    margin-bottom: 20px;
}

.list-item:last-child{
    margin-bottom: 0;
}

.list-item:nth-of-type(3n+1){
    background-color: #88292F;
}

.list-item:nth-of-type(3n+2){
    background-color: #5DB7DE;
}

.list-item:nth-of-type(3n+3){
    background-color: #0D5D56;
}

.list-link{
    padding: 5px 10px;
    color: #0E1116;
    text-transform: uppercase;
}

