.list{
   width: 40rem; 
   margin: auto;
}

.list__item{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

%list__link{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 7.5rem;
    height: 3rem;
    filter: opacity(1);
    
    &:hover{
        filter: opacity(0.5);
    }
}


$icons: url(images/apple-music.svg), url(images/bugatti.svg), url(images/invision.svg), url(images/nike.svg), url(images/viber.svg);
$i: 0;

@each $icon in $icons{
        $i: $i+1;
        .list li:nth-of-type(#{$i}) a{
            @extend %list__link;
            background-image: nth($icons, $i);
        }
    }
