@media screen and (min-width: 48rem){
    /*.wrapper{
       width: 48rem;
     }*/
    
    .d-md-none{
        display: none !important;
    }

    .d-md-block{
        display: block !important;
    }
}
