@media screen and (min-width: 62rem){

    .article-column{
        margin-bottom: 0;
    }    
    
    /*Our principles*/
/*---------------------------------------*/
    .principles-list{
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    
    .list-item{
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        margin-bottom: 1.875rem;
    }
    
    .list-item:last-child{
        margin-bottom: 0;
    }
    
    
}
