.list{
    list-style-image: url(../img/arrow.png);
    margin-left: 18px;
}

.list-item{
    margin-bottom: 15px;
}

.list-item:last-child{
    margin-bottom: 0;
}

.list-link{
    font-size: 14px;
    color: #263555;
    text-decoration: none;
    margin-left: 5px;
}

.list-link:hover{
    text-decoration: underline;
}
