.main{
   position: relative;
   background-color: #fff;
   padding: 3.75rem 2.375rem 4.75rem;
}

.main__top{
    position: absolute;
    bottom: 0.625rem;
    right: 0.5rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    border-radius: 1.5rem;
    background-color: #38afe5;
    font-size: 0.729rem;
    color: #fff;
    line-height: 1.5rem;
    text-align: center;
    text-decoration: none;
    -webkit-filter: opacity(1);
    filter: opacity(1);
}

.main__top--hover:hover{
    -webkit-filter: opacity(0.6);
    filter: opacity(0.6);
}

.main__top::before{
    content: "\22C0";
}
