.wrapper{
    max-width: 960px;
    margin: auto;
}

.yellow{
    height: 4rem;
    margin-bottom: 0.5rem;
    width: 100%;
    background-color: yellow;
}

.row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    height: 24rem;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.blue{
    -webkit-flex-basis: 54.166%;
    -ms-flex-preferred-size: 54.166%;
    flex-basis: 54.166%;
    background-color: blue;
}

.gray{
    -webkit-flex-basis: 20.833%;
    -ms-flex-preferred-size: 20.833%;
    flex-basis: 20.833%;
    background-color: gray;
}

.orange{
    -webkit-flex-basis: 20.833%;
    -ms-flex-preferred-size: 20.833%;
    flex-basis: 20.833%;
    background-color: orange;
}

.green{
    height: 4rem;
    width: 100%;
    background-color: green;
}