@media screen and (min-width: 48rem){
    .footer__footer-top{
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        background-color: #30455b;
        padding: 2.3125rem 2.8125rem 2.125rem;
    }
    
    .footer__list{
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        margin-bottom: 0;
    }
    
    .footer__item{
        margin-bottom: 0;
    }
    
    .footer__link{
        font-size: 1rem;
    }
    
    .footer__blocks{
        -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -moz-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    
    .footer__block-last{
        font-size: 1.125rem;
        margin-bottom: 0.475rem;
    }
    
    .footer__block-info::before{
        content: "TEL:";
        margin-right: 0.2rem;
    }
    
    .footer__block-info{
        font-size: 0.75rem;
        margin-bottom: 0.2rem;
    }
    
    .footer__block-m::before{
        display: none;
    }
    
    .footer__block-mail{
        font-size: 0.75rem;
    }
    
    .footer__footer-bottom{
        padding: 1.25rem 0 2.625rem;
    }
    
    .footer__bottom-icons{
        margin-bottom: 1.4375rem;
    }
    
    .footer__icon{
        width: 2.5rem; 
        height: 2.5rem;
        margin-right: 0.625rem;
    }

}
