@media screen and (min-width: 48rem){
    
    .header{
        padding: 1.25rem 0 1.1875rem;
     }
    
    .header__logo{
        margin-bottom: 1.4375rem;
        width: 6.375rem;
        height: 6.375rem;
        line-height: 6.375rem;
     }
    
    .header__logo-link{
        font-size: 2.725rem;
    }
    
}
