/*  font-family  */

h1,
h3,
h4,
h5,
h6 {
  
}

h2{
    font-family: 'Pathway Gothic One', sans-serif;
}

h4{
    
}

p,
input[type="text"],
label,
textarea {
  
}

a,
button {
  
}


/*  font-sizes  */

h1 {
  
}

h2 {
  font-size: 2rem;
}

h3 {
  
}

h4 {
  font-size: 0.9375rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: ;
}

p {
  font-size: ;
  line-height: ;
}

input[type="text"],
input[type="email"],
label {
  font-size: 0.8125rem;
}

textarea{
    font-size: 1rem;
}

a{
    
}

button {
  font-size: 0.9375rem;
}