.main{
   position: relative;
   background-color: #fff;
   padding: 3.75rem 3.75rem 8.4375rem;
}

.top{
    position: absolute;
    bottom: 1.5625rem;
    right: 0.9375rem;
    display: block;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 1.875rem;
    background-color: #38afe5;
    font-size: 0.9375rem;
    color: #fff;
    line-height: 1.875rem;
    text-align: center;
    text-decoration: none;
    filter: opacity(1);
}

.top:hover{
    filter: opacity(0.6);
}

.top::before{
    content: "\22C0";
}
