@media screen and (min-width: 48rem){
    
    .header{
        padding: 1.25rem 0 1.1875rem;
     }
    
    .logo{
        margin-bottom: 1.4375rem;
        width: 6.375rem;
        height: 6.375rem;
        line-height: 6.375rem;
     }
    
    .logo-link{
        font-size: 2.725rem;
    }
    
    .nav{
        -webkit-flex-basis: 38%;
        -ms-flex-preferred-size: 38%;
        flex-basis: 38%;
    }
    
    .nav-item{
        margin-right: 3.875rem;
        margin-bottom: 1.625rem; 
    }

    .nav-item:nth-child(3n){
        margin-right: 0;
    }

    .nav-item:nth-last-child(-n + 3){
        margin-bottom: 0;
    }
    
    .nav-link{
        font-size: 1.5rem;
    }
    
    .submenu-link{
        font-size: 1.0625rem;
    }
}
